---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <ol>
        <li><a href="/posts/post1"> first post</a></li>
        <li><a href="/posts/post2"> Second post</a></li>
        <li><a href="/posts/post3"> Thrid post</a></li>
    </ol>
</MainLayout>
        