---
import MainLayout from "../layouts/MainLayout.astro"
const res = await fetch("https://api.sampleapis.com/coffee/hot")
const data = await res.json()
---

<MainLayout title ="Home Page" >		
	<p>Hello my first page</p>
	<ul>
		{data.map(coffee => (
				<li>{coffee.title}</li>
		))}
	</ul>
</MainLayout>		
